html
{
	min-width: 600px;
	height: 100%;
}

body
{
	overflow-x: hidden;
	height: 100%;
}

.noscript
{
	padding: 16px 0;
	font-size: 24px;
	background-color: #F2DEDE;
	text-align: center;
}

.hero-unit.custom {
	background-image: url('../img/header.png');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center; 
	height: 200px;
}

#wrapper.custom {
	padding-left: 160px;
}

#sidebar-wrapper.custom {
	width: 160px;
	left: 0px;
	margin-left: 0px;
	overflow-x: hidden;
	background: #111;
}

.sidebar-nav.custom {
	width: 160px;
}

.sidebar-nav.custom > .sidebar-brand {
	padding-left: 4px;
	font-size: 24px;
	line-height: 64px;
	font-weight: 300;
}

.sidebar-nav.custom > .sidebar-brand.active {
	background: none;
}

.sidebar-nav.custom li {
	color: #999999;
	list-style-type: none;
	cursor: pointer;
}

.sidebar-nav.custom li.active {
	background: rgba(255,255,255,0.3);
}

#sidebar-wrapper li.active > a,
.sidebar-nav.custom li:hover {	color: white;
}

.sidebar-nav.custom > li > ul
{
	padding: 0;
}

.sidebar-nav.custom > li > ul > li > a
{
	padding-left: 42px;
}

#content
{
	padding-left: 0;
	padding-right: 0;
}

.content-wrapper
{
	padding: 16px;
}

.container-fluid.custom {
	position: relative;
}

#content > iframe
{
	/* solves the scrolling issue and removes the horizontal white bar at the bottom of the iframe */
	display:block;
}

.hero-unit.custom h1 {
	color: #f1c40f;
	background: radial-gradient(at center, rgba(0,0,0,1) 10%, rgba(255,255,255,0)90%);
	text-align: center;
}

#wrapper,
#wrapper .container-fluid,
.pageContent {
	height: 100%;
}

.iframe-wrapper
{
	padding: 16px 16px 0 16px;
}

.tile-row
{
	padding: 0 6px;
}

.tile-wrapper
{
	padding: 8px;
}

.tile
{
	height: 96px;
	text-align: center;
	background: #83c4e7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.tile h2
{
	margin: 0;
	padding-top: 32px;
	color: white;
	font-size: 22px;
	font-weight: 400;
}

.tile-wrapper a:hover
{
	text-decoration: none;
}

#zyante-tile
{
	background: #f39f4a;
}

#codelab-tile
{
	background: #62a668;
}

#style-tile
{
	background: #5c87af;
}

#join-tile
{
	background: #d489b8;
}

@media (max-width: 855px)
{
	@media (min-width: 768px)
	{
		#join-tile h2
		{
			padding-top: 24px;
		}
	}
}

a:focus
{
    outline: none !important;
    color: #428bca;
    text-decoration: none;
}

a:focus:hover
{
	color: #2D6594;
    text-decoration: underline;
}

.progress-wheel
{
	padding-top: 64px;
	position: absolute;
	z-index: -2;
	width: 100%;
	text-align: center;
}

#staff-wrapper
{
	margin: 0;
	padding: 16px 16px 160px 16px;
	background-color: #83c7de;
	color: white;
	text-align: center;
}

#staff-header
{
	padding-top: 16px;
	padding-bottom: 16px;
}

#staff-wrapper hr
{
	border-top: 1px solid white;
}

#staff-wrapper a, #staff-wrapper a:hover
{
	color: white;
	text-decoration: underline;
}

#staff-wrapper h1
{
	margin: 16px;
	font-weight: 300;
}

.staff-member
{
	text-align: center;
	padding: 16px;
}

.staff-member .img-wrapper
{
	max-width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.staff-member > .img-wrapper > img
{
	border: 2px solid white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	/*cursor: pointer;*/
}

.staff-member-name
{
	padding-top: 8px;
}

.popover-title
{
    text-align: center;
}

.popover
{
	color: #333; /*override staff-wrapper color*/
}

#staff-wrapper .popover a
{
	color: #428bca; /*override staff-wrapper color*/
}

.popover-content ul
{
    margin-bottom: 0px;
    list-style: none;
    padding-left: 20px;
}

.popover-content .staff-member-name
{
    text-align: center;
}

.staff-info-category
{
    margin-top: 10px;
}

.staff-info-category:first-child
{
    margin-top: 0px;
}

.sidebar-nav .fa-caret-up
{
	float: right;
	line-height: 40px;
	margin-right: 16px;
}

.sidebar-nav .collapsed > .fa-caret-up
{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
