.hero-unit.custom {
	background-image: url(../header.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#wrapper.custom {
	padding-left: 125px;
}

#sidebar-wrapper.custom {
	width: 125px;
	left: 0px;
	margin-left: 0px;
}

.sidebar-nav.custom {
	width: 125px;
}

.container-fluid.custom > .row-fluid {
	/*margin-top: 10px;*/
}

#wrapper .container-fluid .row-fluid {
	/*margin-top: 20px;*/
}

#calendarRow iframe {
	width: 100%;
	height: 550px;
}

#wrapper,
#wrapper .container-fluid,
.pageContent {
	height: 100%;
}

.inactiveFrame {
	display: none;
}